In [ ]:
!sudo apt-get install -y fonts-nanum > /dev/null
!sudo fc-cache -fv > /dev/null
!rm ~/.cache/matplotlib -rf > /dev/null

debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
mpl.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='NanumBarunGothic')

In [ ]:
from google.colab import drive
drive.mount('/content/mnt')

Drive already mounted at /content/mnt; to attempt to forcibly remount, call drive.mount("/content/mnt", force_remount=True).

In [ ]:
data_folder = '/content/mnt/MyDrive/data/소상공인시장진흥공단'

In [ ]:
from glob import glob
for file in glob(f'{data_folder}/*.csv'):
    print(file)

/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv

### 서울 데이터로 스타벅스,커피빈,이디야,빽다방 추출
- 전국 데이터 추출 --> 4개 커피샵에 대한 정보 저장

In [ ]:
seoul = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv', encoding='utf-8')
seoul = seoul[seoul.상권업종중분류코드 == 'Q12']
seoul = seoul[['상호명','지점명','시도명','시군구명','도로명주소']]
seoul.reset_index(drop=True, inplace=True)
seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20832 entries, 0 to 20831
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호명     20832 non-null  object
 1   지점명     7431 non-null   object
 2   시도명     20832 non-null  object
 3   시군구명    20832 non-null  object
 4   도로명주소   20832 non-null  object
dtypes: object(5)
memory usage: 813.9+ KB

In [ ]:
seoul.head()

     상호명          지점명    시도명 시군구명                도로명주소
0    커피빈  코리아대학로대명거리점  서울특별시  종로구     서울특별시 종로구 대명길 25
1  요거프레소          쌍문점  서울특별시  도봉구      서울특별시 도봉구 도당로 7
2  메머드커피          NaN  서울특별시  마포구   서울특별시 마포구 와우산로 149
3  우성커피숍          NaN  서울특별시  양천구     서울특별시 양천구 오목로 48
4   카페클럽          NaN  서울특별시  송파구  서울특별시 송파구 동남로2길 3-6

In [ ]:
def identify_coffee(name):
    if name in ['스타벅스']:
        return '스타벅스'
    elif name in ['커피빈']:
        return '커피빈'
    elif name in ['이디아']:
        return '이디아'
    else:
        return '빽다방'

In [ ]:
seoul['커피체인'] = seoul.상호명.apply(lambda x : identify_coffee(x))

In [ ]:
seoul.head()

     상호명          지점명    시도명 시군구명                도로명주소 커피체인
0    커피빈  코리아대학로대명거리점  서울특별시  종로구     서울특별시 종로구 대명길 25  커피빈
1  요거프레소          쌍문점  서울특별시  도봉구      서울특별시 도봉구 도당로 7  빽다방
2  메머드커피          NaN  서울특별시  마포구   서울특별시 마포구 와우산로 149  빽다방
3  우성커피숍          NaN  서울특별시  양천구     서울특별시 양천구 오목로 48  빽다방
4   카페클럽          NaN  서울특별시  송파구  서울특별시 송파구 동남로2길 3-6  빽다방

In [ ]:
len(seoul.groupby('커피체인').groups['이디아'].tolist()), seoul.groupby('커피체인').groups['이디아'].tolist()[:10]

(7, [8381, 8689, 9455, 10304, 12279, 17171, 18946])

In [ ]:
seoul.groupby('커피체인').groups.keys()

dict_keys(['빽다방', '스타벅스', '이디아', '커피빈'])

In [ ]:
seoul.iloc[[8381, 8689, 9455, 10304, 12279, 17171, 18946],:]

       상호명    지점명    시도명 시군구명                  도로명주소 커피체인
8381   이디아    NaN  서울특별시  마포구    서울특별시 마포구 월드컵북로 375  이디아
8689   이디아   종암동점  서울특별시  성북구      서울특별시 성북구 종암로 105  이디아
9455   이디아  강서NC점  서울특별시  강서구    서울특별시 강서구 강서로54길 11  이디아
10304  이디아  구로미성점  서울특별시  구로구    서울특별시 구로구 구로중앙로 228  이디아
12279  이디아    NaN  서울특별시  강서구  서울특별시 강서구 가로공원로76길 61  이디아
17171  이디아  방배중앙점  서울특별시  서초구        서울특별시 서초구 동광로 1  이디아
18946  이디아   망원역점  서울특별시  마포구    서울특별시 마포구 월드컵로 82-1  이디아

In [ ]:
seoul_groups = seoul.groupby('커피체인').groups
seoul_starbucks = len(seoul_groups['스타벅스']) 
seoul_coffeebean = len(seoul_groups['커피빈']) 
seoul_ediya = len(seoul_groups['이디아'])
seoul_others = len(seoul_groups['빽다방'])

print(seoul_starbucks, seoul_coffeebean, seoul_ediya, seoul_others)

331 115 7 20379

### 전국 데이터

In [ ]:
import pandas

In [ ]:
import re
def find_coffee(name):
    if re.search('스타벅스', name):
        return '스타벅스'
    elif re.search('커피빈', name):
        return '커피빈'
    elif re.search('이디야', name) or re.search('이디야', name):
        return '이디아'
    elif re.search('빽다방', name):
        return '빽다방'

In [ ]:
def count_coffees(province):
    df = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_{province}_202106.csv', encoding='utf-8')
    df = df[df.상권업종중분류코드 == 'Q12']
    df = df[['상호명','지점명','시도명','시군구명','도로명주소']]
    df.reset_index(drop=True, inplace=True)
    df['커피체인'] = df.상호명.apply(lambda x : find_coffee(x))

    coffee_groups = df.groupby('커피체인').groups
    
    starbucks = 0 if '스타벅스' not in coffee_groups.keys() else len(coffee_groups['스타벅스'])
    coffeebean = 0 if '커피빈' not in coffee_groups.keys() else len(coffee_groups['커피빈'])
    ediya = 0 if '이디아' not in coffee_groups.keys() else len(coffee_groups['이디아']) 
    bbaek = 0 if '빽다방' not in coffee_groups.keys() else len(coffee_groups['빽다방'])

    return [starbucks, coffeebean, ediya, bbaek]

In [ ]:
coffees = {}
names = ['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산', '인천', '전남', '전북', '제주', '충남', '충북']

for province in names:
    coffees[province] = count_coffees(province)

In [ ]:
df = pd.DataFrame(coffees, columns=coffees.keys(), index=['스타벅스','커피빈','이디아','빽다방']).T
df

    스타벅스  커피빈  이디아  빽다방
강원    40    2   88   12
경기   353   56  564  175
경남    64   10  126   23
경북    57    7  100   20
광주    56    5   60   12
대구    70    5   64   23
대전    50    2   35   35
부산   120   13  113   15
서울   488  168  430  126
세종    10    0   18    5
울산    28    2   76    9
인천    63    9  126   52
전남    23    1   80   20
전북    26    1   66   20
제주    26    2   16   14
충남    42    2   69   30
충북    29    5   68   17